/* Slick Carousel CSS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.5;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.slick-prev,
.slick-next {
  z-index: 10;
  width: 50px;
  height: 50px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
  opacity: 0.75;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}
